{% extends "game/game_base.html" %}

{% block content2 %}

<div class="container mt-3">
    <div class="row">
        {% for building in game.building_progress %}
        <div class="col-md-4 mb-4">
            <!-- Wrap the card with an <a> tag -->
            {% if building.building.building_type.id == 2 %}
                <a href="{{  url_for(building.building.building_link, game_id=game.id) }}" class="card-link">
            {% else %}
                <a href="{{  url_for(building.building.building_link, building_progress_id=building.id) }}" class="card-link">    
            {% endif %}

                {% if building.building_active %}
                    <div class="card building-active">
                {% else %}
                    <div class="card building-inactive">
                {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ building.building.building_name }}</h5>
                        <p class="card-text">{{ building.building.building_description }}</p>
                        <p class="card-text">Level: {{ building.building_level }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% if loop.index % 3 == 0 %}
    </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

<div>
    <form action="" method="post">
        {{ addxpform.hidden_tag() }}
        <p>{{ addxpform.xp.label }} - {{ addxpform.xp }} - {{ addxpform.addxp_button() }}</p>
    </form>

    <form action="" method="post">
        {{ addcashform.hidden_tag() }}
        <p>{{ addcashform.cash.label }} - {{ addcashform.cash }} - {{ addcashform.addcash_button() }}</p>
    </form>
</div>

{% endblock content2 %}