{% extends "admin/admin_base.html" %}

{% block content2 %}

<div class="Jumbotron">

    <h1>{{ title }}</h1>

</div>

<hr>

<!-- for loop up to level 100 using the _xp_required_for_next_level method in GameService -->
<div>
    <h2>Level Requirements</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Level</th>
                <th>XP Required</th>
            </tr>
        </thead>
        <tbody>
            {% for level in range(1, 101) %}
            <tr>
                <td>{{ level }}</td>
                <td>{{ (100 * (1.1 ** (level + 1)))|round|int }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}