{% extends "admin/admin_base.html" %}

{% block content2 %}

<div class="Jumbotron">

    <h1>{{ title }}</h1>

</div>

<hr />

<div class="container">

    <h2>Resources Log</h2> 

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Game ID</th>
                <th>XP</th>
                <th>Cash</th>
                <th>Wood</th>
                <th>Stone</th>
                <th>Metal</th>
                <th>Timestamp</th>
                <th>Source</th>
            </tr>
        </thead>

        <tbody>
            {% for resourcelog in resourcelogs %}
            <tr>
                <td>{{ resourcelog.game.user_id }}</td>
                <td>{{ resourcelog.game.id }}</td>
                <td>{{ resourcelog.xp }}</td>
                <td>{{ resourcelog.cash }}</td>
                <td>{{ resourcelog.wood }}</td>
                <td>{{ resourcelog.stone }}</td>
                <td>{{ resourcelog.metal }}</td>
                <td>{{ resourcelog.entry_date|datetime|default('N/A', true) }}</td>
                <td>{{ resourcelog.source }}</td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>
{% endblock %}
