{% extends "admin/admin_base.html" %}

{% block content2 %}

<div class="Jumbotron">

    <h1>{{ title }}</h1>

</div>

<hr />

<div>
    <h2>Quest Types</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quest Type Name</th>
                <th>Quest Type Description</th>
            </tr>
        </thead>
        <tbody>
            {% for questtype in questtypes %}
            <tr>
                <td>{{ questtype.id }}</td>
                <td>{{ questtype.quest_type_name }}</td>
                <td>{{ questtype.quest_type_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<div>

    <hr />

    <h2>All Quests</h2>

    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Quest Name</th>
                <th>Quest Description</th>
                <th>Quest Type ID</th>
                <th>Quest Type Name</th>
                <th>Quest Rewards</th>
            </tr>
        </thead>
        <tbody>
            {% for quest in quests %}
            <tr>
                <td>{{ quest.id }}</td>
                <td>{{ quest.quest_name }}</td>
                <td>{{ quest.quest_description }}</td>
                <td>{{ quest.quest_type.id }}</td>
                <td>{{ quest.quest_type.quest_type_name }}</td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reward XP</th>
                                <th>Reward Cash</th>
                                <th>Reward Wood</th>
                                <th>Reward Stone</th>
                                <th>Reward Metal</th>
                                <th>Reward Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reward in quest.quest_rewards %}
                            <tr>
                                <td>{{ reward.quest_reward_xp }}</td>
                                <td>{{ reward.quest_reward_cash }}</td>
                                <td>{{ reward.quest_reward_wood }}</td>
                                <td>{{ reward.quest_reward_stone }}</td>
                                <td>{{ reward.quest_reward_metal }}</td>
                                <td>
                                    <table class="table">
                                        <thead>
                                        <th>Item Name</th>
                                        <th>Item Description</th>
                                        <th>Item Quantity</th>
                                        </thead>
                                        <tbody>
                                            {% for item in reward.reward_items %}
                                            <tr>
                                                <td>{{ item.item.item_name }}</td>
                                                <td>{{ item.item.item_description }}</td>
                                                <td>{{ item.quantity }}</td>
                                            </tr>
                                            {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>


            </tr>
            {% endfor %}
    </table>
</div>


<hr />

<div>
    <h2>Quest Pre-Requisites</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quest ID</th>
                <th>Pre-Requisite Quest ID</th>
                <th>Game Level Required</th>
            </tr>
        </thead>
        <tbody>
            {% for quest_prerequisite in quest_prerequisites %}
            <tr>
                <td>{{ quest_prerequisite.id }}</td>
                <td>{{ quest_prerequisite.quest_id }}</td>
                <td>{{ quest_prerequisite.prerequisite_id }}</td>
                <td>{{ quest_prerequisite.game_level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Quest Requirements</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quest ID</th>
                <th>Level Required</th>
                <th>Cash Required</th>
                <th>Wood Required</th>
                <th>Stone Required</th>
                <th>Metal Required</th>
                <th>Building Required ID</th>
                <th>Building Level Required</th>
            </tr>
        </thead>
        <tbody>
            {% for quest_requirement in quest_requirements %}
            <tr>
                <td>{{ quest_requirement.id }}</td>
                <td>{{ quest_requirement.quest_id }}</td>
                <td>{{ quest_requirement.game_level_required }}</td>
                <td>{{ quest_requirement.cash_required }}</td>
                <td>{{ quest_requirement.wood_required }}</td>
                <td>{{ quest_requirement.stone_required }}</td>
                <td>{{ quest_requirement.metal_required }}</td>
                <td>{{ quest_requirement.building_required }}</td>
                <td>{{ quest_requirement.building_level_required }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Quest Progress</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Quest Progress ID</th>
                <th>Game ID</th>
                <th>Quest ID</th>
                <th>Quest Progress</th>
                <th>Quest Active</th>
                <th>Quest Completed</th>
                <th>Quest Completed Date</th>
            </tr>
        </thead>
        <tbody>
            {% for questprogress in questprogresses %}
            <tr>
                <td>{{ questprogress.id }}</td>
                <td>{{ questprogress.game_id }}</td>
                <td>{{ questprogress.quest_id }}</td>
                <td>{{ questprogress.quest_progress }}</td>
                <td>{{ questprogress.quest_active }}</td>
                <td>{{ questprogress.quest_completed }}</td>
                <td>{{ questprogress.quest_completed_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Quest Pre-Requisites Progress</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quest Progress Id</th>
                <th>Quest Pre-Requisite ID</th>
                <th>Prerequisite Completed?</th>

            </tr>
        </thead>
        <tbody>
            {% for q_p_progress in quest_prerequisite_progress %}
            <tr>
                <td>{{ q_p_progress.id }}</td>
                <td>{{ q_p_progress.quest_progress_id }}</td>
                <td>{{ q_p_progress.quest_prerequisite_id }}</td>
                <td>{{ q_p_progress.prerequisite_completed }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Quest Requirements Progress</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quest Progress ID</th>
                <th>Quest Requirement ID</th>
                <th>Requirement Completed?</th>

            </tr>
        </thead>
        <tbody>
            {% for progress in quest_requirement_progress %}
            <tr>
                <td>{{ progress.id }}</td>
                <td>{{ progress.quest_progress_id }}</td>
                <td>{{ progress.quest_requirement_id }}</td>
                <td>{{ progress.requirement_completed }}</td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}