{% extends "base.html" %}

{% block content %}

<h1> {{ title }} - {{ game.user.username }} - {{ game.game_name }} </h1>

<hr>

<div style="display: flex; justify-content: space-around;">
    <p>{{game.user.username}}</p>
    <p>XP: {{ game.xp }}</p>
    <p>Level: {{ game.level }}</p>
    <p>Cash: {{ game.cash }}</p>
    <p>TestGameventory1: {{ game.testgameventory1 }}</p>
</div>

<hr>

<!-- Link for Quests -->
<a href="{{ url_for('testgame.tg_display_quests', game_id=game.id) }}">Quests</a>
<a href="{{ url_for('testgame.tg_display_inventory', game_id=game.id) }}"> Inventory </a>


{% block content2 %}  {% endblock content2 %}

{% endblock content %}
