{% extends "testgame/tg_base.html" %}

{% block content2 %}



<div>
    <h2>Inventory</h2>
    <p>Here are the items in your inventory:</p>
    <ul>
        {% for inventory in inventories %}
            <li> {{ inventory.id }} </li>
            <ul>
                {% for item in inventory.inventory_items %}
                <li> {{ item.item.item_name }} - {{ item.item.item_description }} - Quantity = {{ item.item_quantity }} </li>
                {% endfor %}
            </ul>
            

        {% endfor %}
    </ul>
</div>



{% endblock content2 %}