

.alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
  }

.building-inactive { 
    background-color: #f8d7da;
    color: #721c24;
}


.building-inactive:hover {
    background-color: #e6c2c6;
    color: #721c24;
}

.building-active {
    background-color: #d4edda;
    color: #155724;
}

.building-active:hover {
    background-color: #c3e6cb;
    color: #155724;
}


.building-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.resource-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resource-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(50% - 10px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .resource-card i {
        margin-right: 5px;
        color: #4CAF50; /* Example color */
    }

.collect-button button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .collect-button button:hover {
        background-color: #45a049;
    }

@media (max-width: 600px) {
    .resource-card {
        width: 100%;
    }
}
