{% extends "base.html" %}

{% block content %}

<div class="Jumbotron">
    <h1> Personal</h1>
</div>

<hr> 

<div>

    <h1>Add Transaction:</h1>

    <form action="" method="post" novalidate>
        {{ transactionform.hidden_tag() }}

        <p>
            {{ transactionform.transaction_date.label }} <br>
            {{ transactionform.transaction_date(size=32) }}
            {% for error in transactionform.transaction_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ transactionform.account_id.label }}<br>
            <select name="account_id">
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                {% endfor %}
            </select>
            {% for error in transactionform.account_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ transactionform.category_id.label }}<br>
            <select name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            {% for error in transactionform.category_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ transactionform.item_name.label }}<br>
            {{ transactionform.item_name(size=32) }}
            {% for error in transactionform.item_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ transactionform.amount.label }}<br>
            {{ transactionform.amount(size=32) }}
            {% for error in transactionform.item_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    
        <p>{{ transactionform.submit() }}</p>

    </form>

</div>

<hr> 

<div>

    <h1>Transaction Table:</h1>

    <table class="table table-striped">

        <thead>
            <th>Transaction Date</th>
            <th>Category</th>
            <th>Account Name</th>
            <th>Item</th>
            <th>Amount</th>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_date.strftime('%d-%m-%Y') }}</td>
                <td>{{ transaction.category.category_name }}</td>
                <td>{{ transaction.account.account_name}}</td>
                <td>{{ transaction.item_name }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
            {% endfor %}

            </tr>
        </tbody>

    </table>

</div>

<hr> 

<div>

    <h1>Add Account:</h1>

    <form action="" method="post" novalidate>

        {{ accountform.hidden_tag() }}

        <p>
            {{ accountform.account_name.label }}<br>
            {{ accountform.account_name(size=32) }}
        </p> 

        <p>{{ accountform.submit() }}</p>

    </form>

</div>

<hr> 

<div>

    <h1>Account Table:</h1>

    <table class="table table-striped">

        <thead>
            <th>Account Name</th>
        </thead>

        <tbody>

            {% for account in accounts %}

            <tr>

                <td>{{ account.account_name }}</td>

            </tr>

            {% endfor %}

            </tr>
        </tbody>

    </table>
</div>


<div>

    <h1>Add Category:</h1>

    <form action="" method="post" novalidate>

        {{ transactioncategoryform.hidden_tag() }}

        <p>
            {{ transactioncategoryform.category_name.label }}<br>
            {{ transactioncategoryform.category_name(size=32) }}
        </p> 

        <p>{{ transactioncategoryform.submit() }}</p>

    </form>
</div>



<div>

    <h1>Category Table:</h1>

    <table class="table table-striped">

        <thead>
            <th>Category Name</th>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category_name }}</td>
            </tr>
            {% endfor %}

            </tr>
        </tbody>

    </table>
    
</div>

<hr> 

{% endblock %}