{% extends "admin/admin_base.html" %}

{% block content2 %}

<div class="Jumbotron">

    <h1>Admin - Home</h1>

</div>

<hr>

<div class="container">

    <div class="row">

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <div class="card-body">
                        <p class="card-text">View and manage users</p>
                        <a href="{{ url_for('admin.admin_users') }}" class="btn btn-primary">Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <div class="card-body">
                        <p class="card-text">View and manage roles</p>
                        <a href="{{ url_for('admin.admin_roles') }}" class="btn btn-primary">Roles</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Game Admin</h5>
                    <div class="card-body">
                        <p class="card-text">View and manage USER related game data</p>
                        <a href="{{ url_for('admin.admin_testgame_models') }}" class="btn btn-primary">Games Log</a>
                        <a href="{{ url_for('admin.admin_testgame_resourceslog') }}" class="btn btn-primary">Resource Logs</a>
                    </div>

                    <div class="card-body">
                        <p class="card-text">View and manage GAME LOGIC related data</p>
                        <a href="{{ url_for('admin.admin_testgame_levelrequirements') }}" class="btn btn-primary">Maintain Level Requirements</a>
                    </div>

                    <div class="card-body">
                        <p class="card-text">View and manage QUEST LOGIC related data</p>
                        <p><a href="{{ url_for('admin.admin_testgame_mainquests') }}" class="btn btn-primary">Quests</a></p>
                    </div>

                    <div class="card-body">
                        <p class="card-text">View and manage BUILDING related data</p>
                        <a href="{{ url_for('admin.admin_testgame_buildings') }}" class="btn btn-primary">Buildings</a>
                    </div>

                    <div class="card-body">
                        <p class="card-text">View and manage ITEM related data</p>
                        <a href="{{ url_for('admin.admin_testgame_items') }}" class="btn btn-primary">Items</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}