{% extends "base.html" %}

{% block content %}

<hr />


<div class="card">
    <div style="display: flex; justify-content: space-around;">
        <p>MAIN:</p>
        <a href="{{ url_for('admin.admin_home') }}">Admin Home</a> -
        <a href="{{ url_for('admin.admin_users') }}">Users</a> -
        <a href="{{ url_for('admin.admin_roles') }}">Roles</a> -

    </div>
</div>

    
<div class="card">
    <div style="display: flex; justify-content: space-around;">
        <p>GAME:</p>
        <a href="{{ url_for('admin.admin_models') }}">All Games</a> -
        <a href="{{ url_for('admin.admin_buildings') }}">Buildings</a> -
        <a href="{{ url_for('admin.admin_mainquests') }}">Quests</a> -
        <a href="{{ url_for('admin.admin_resourceslog') }}">Resources</a> - 
        <a href="{{ url_for('admin.admin_items') }}">Items</a> - 
        <a href="{{ url_for('admin.admin_inventories') }}">Inventory</a> -
    </div>
</div>

<hr />


    {% block content2 %}  {% endblock content2 %}

    {% endblock content %}
