{% extends "base.html" %}

{% block content %}

<div class="Jumbotron">
    <h1>Guess the Number</h1>
</div>

<hr>

<div>
    <p>Guess the number between {{ startrange }} and {{ endrange }}:</p>

    <p>Guess Number: {{ userguesses|length + 1 }} </p>

    <form action="" method="post" novalidate>
        {{ gtnform.hidden_tag() }}
        <p>
            {{ gtnform.guess.label }}<br>
            {{ gtnform.guess(size=32, autofocus=True) }}
            {% for error in gtnform.guess.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ gtnform.submit_guess() }}</p>
    </form>

    {% if userguesses|length != 0 %}
        <p>User Guesses: {{ userguesses }}</p>
    {% endif %}

    
    
</div>

<a href="/gtnhistory" class="">View Game History</a> <br>
<a href="/gtnsettings" class="">Settings</a>

<hr>

<div>
    <form action="" method="post" novalidate>
        
        {{ gtnresetform.hidden_tag() }}

        <p>{{ gtnresetform.submit_reset() }}</p>
        
    </form>
</div>

{% endblock %}