{% extends "admin/admin_base.html" %}

{% block content2 %}

<div class="Jumbotron">

    <h1>Admin - Test Game - Game Buildings</h1>

</div>

<hr />

<div>
    <h2>Game Building Types</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Building Type Name</th>
                <th>Building Type Description</th>
            </tr>
        </thead>
        <tbody>
            {% for buildingtype in buildingtypes %}
            <tr>
                <td>{{ buildingtype.building_type_name }}</td>
                <td>{{ buildingtype.building_type_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Game Buildings Table</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Building ID</th>
                <th>Building Name</th>
                <th>Building Description</th>
                <th>Building Type</th>
                <th>Building Link </th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
            <tr>
                <td>{{ building.id }}</td>
                <td>{{ building.building_name }}</td>
                <td>{{ building.building_description }}</td>
                <td>{{ building.building_type.building_type_name }}</td>
                <td>{{ building.building_link }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<hr />

<div>
    <h2>Game Building Progress Table</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Progress ID</th>
                <th>Game ID</th>
                <th>Building ID</th>
                <th>Building Level</th>
                <th>Building Active</th>
                <th>Max Building Level</th>
                <th>Cash Requirement</th>
                <th>Level Requirement</th>
                <th>XP Requirement</th>
                <th>Wood Requirement</th>
                <th>Stone Requirement</th>
                <th>Metal Requirement</th>
                <th>XP per Minute</th>
                <th>Cash per Minute</th>
                <th>Wood per Minute</th>
                <th>Stone per Minute</th>
                <th>Metal per Minute</th>
                <th>Accrual Start Time</th>
                <th>Max Accrual Duration</th>
                <th>Accrued XP</th>
                <th>Accrued Cash</th>
                <th>Accrued Wood</th>
                <th>Accrued Stone</th>
                <th>Accrued Metal</th>
                <th>Building Completed</th>
                <th>Building Completed Date</th>


            </tr>
        </thead>
        <tbody>
            {% for buildingprogress in buildingprogress %}
            <tr>
                <td>{{ buildingprogress.id }}</td>
                <td>{{ buildingprogress.game_id }}</td>
                <td>{{ buildingprogress.building_id }}</td>
                <td>{{ buildingprogress.building_level }}</td>
                <td>{{ buildingprogress.building_active }}</td>
                <td>{{ buildingprogress.max_building_level }}</td>
                <td>{{ buildingprogress.base_building_cash_required }}</td>
                <td>{{ buildingprogress.base_building_level_required }}</td>
                <td>{{ buildingprogress.base_building_xp_required }}</td>
                <td>{{ buildingprogress.base_building_wood_required }}</td>
                <td>{{ buildingprogress.base_building_stone_required }}</td>
                <td>{{ buildingprogress.base_building_metal_required }}</td>
                <td>{{ buildingprogress.cash_per_hour }}</td>
                <td>{{ buildingprogress.accrued_cash }}</td>
                <td>{{ buildingprogress.accrued_wood }}</td>
                <td>{{ buildingprogress.accrued_stone }}</td>
                <td>{{ buildingprogress.accrued_metal }}</td>
                <td>{{ buildingprogress.accrual_start_time }}</td>
                <td>{{ buildingprogress.max_accrual_duration }}</td>
                <td>{{ buildingprogress.accrued_xp }}</td>
                <td>{{ buildingprogress.accrued_cash }}</td>
                <td>{{ buildingprogress.accrued_wood }}</td>
                <td>{{ buildingprogress.accrued_stone }}</td>
                <td>{{ buildingprogress.accrued_metal }}</td>
                <td>{{ buildingprogress.building_completed }}</td>
                <td>{{ buildingprogress.building_completed_date }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content2 %}