{% extends "testgame/tg_base.html" %}

{% block content2 %}



<div>
    <h2>Farm</h2>
    <pr> Collect cash from your farm </p>
</div>

<div>
    <p>Current Level: {{ building_progress.building_level }}<p>
    <p>Cash per hour: {{ building_progress.cash_per_minute }}</p>
    <p>XP Accrued: {{ building_progress.accrued_xp }}</p>
    <p>Cash Accrued: {{ building_progress.accrued_cash }}</p>
</div>

<div>
    <form action="" method="post">
        {{ collectresourcesform.hidden_tag() }}
        <p>{{ collectresourcesform.collect_button() }}</p>
    </form>
</div>

<div>
    <h2>Upgrade:</h2>

    <p>Upgrade to the next level for: {{ building_progress.base_building_cash_required }}</p>
    <p>Current Level: {{ building_progress.building_level }}</p>
    {% if buildingservice.check_upgrade_requirements() %}
        <form action="" method="post">
            {{ upgradebuildingform.hidden_tag() }}
            <p>{{ upgradebuildingform.upgrade_button() }}</p>
        </form>
    {% else %}
        <p>Requirements not met</p>
    {% endif %}
    


</div>


{% endblock content2 %}