{% extends "testgame/tg_base.html" %}

{% block content2 %}



<div>
    <h2>Farm</h2>
    <pr> Collect cash from your farm </p>
</div>

<div>
    <p>Current Level: {{ building_progress.building.building_name }}<p>
    <p>Cash per hour: {{ building_progress.cash_per_minute }}</p>
    <p>XP Accrued: {{ building_progress.accrued_xp }}</p>
    <p>Cash Accrued: {{ building_progress.accrued_cash }}</p>
</div>

<div>
    <form action="" method="post">
        {{ collectresourcesform.hidden_tag() }}
        <p>{{ collectresourcesform.collect_button() }}</p>
    </form>
</div>


{% endblock content2 %}