{% extends "game/game_base.html" %}

{% block content2 %}


<script>
    socket.on('resource_update', function(data) {
        console.log('Received data:', data); // Check the browser console to see this output
        
        // Corrected the typo from 'resrouce' to 'resource'
        document.getElementById('resource').innerText = 'K: ' + data.accrued_resources;

        // Update your webpage elements here
    });
</script>



<div class="building-section">
    <h2>{{ building_progress.building.building_name }} - Level: {{ building_progress.building_level }}</h2>


    <!-- RESOURCE SECTION FOR RESOURCE BUILDING-->
    <div class="resource-info">
        <!-- Farm -->
        <div class="resource-card">
            {% if building_progress.building.id == 3 %}
            <i class="fas fa-dollar-sign"></i> <!-- Example icon usage -->

            <!--Placehoder testing websocket for resources-->
            <div id="resource"></div>



            <p>Cash per minute: {{ building_progress.cash_per_minute }}</p>
            <p>Cash to collect: {{ building_progress.accrued_cash }} </p>
            {% endif %}

            <!-- Lumber Mill -->
            {% if building_progress.building.id == 4 %}
            <p>Wood per minute: {{ building_progress.wood_per_minute }}</p>
            <p>Wood to collect: {{ building_progress.accrued_wood }} </p>
            {% endif %}

            <!-- Mine -->
            {% if building_progress.building.id == 5 %}
            <p>Stone per minute: {{ building_progress.stone_per_minute }}</p>
            <p>Stone to collect: {{ building_progress.accrued_stone }} </p>
            {% endif %}

            <!-- Forge -->
            {% if building_progress.building.id == 6 %}
            <p>Metal per minute: {{ building_progress.metal_per_minute }}</p>
            <p>Metal to collect: {{ building_progress.accrued_metal }} </p>
            {% endif %}

            <!-- Check if any resources to collect before displaying button -->
            {% if buildingservice.check_resources_to_collect() %}
            <div class="collect-button">
                <form action="" method="post">
                    {{ collectresourcesform.hidden_tag() }}
                    <p>{{ collectresourcesform.collect_button() }}</p>
                </form>
            </div>
            {% endif %}

        </div>
    </div>


   
<!-- UPGRADE SECTION FOR RESOURCE BUILDING-->
    <h2>Upgrade:</h2>
        <div class="resource-info">
            <div class="resource-card">

                {% if building_progress.building_level >= building_progress.building.max_building_level %}
                <p>Building Upgraded to Max Level</p>
                {% else %}

                <p>Game Level: {{ game.level }} / {{ required_resources.level }}</p>
                <p>Cash: {{ game.cash }} / {{ required_resources.cash }}</p>

                <!-- Farm -->
                {% if building_progress.building.id == 3 %}
                {% endif %}

                <!-- Lumber Mill -->
                {% if building_progress.building.id == 4 %}
                {% endif %}

                <!-- Mine -->
                {% if building_progress.building.id == 5 %}
                <p>Wood: {{ game.wood }} / {{ required_resources.wood }}</p>
                {% endif %}


                <!-- Forge -->
                {% if building_progress.building.id == 6 %}
                <p>Wood: {{ game.wood }} / {{ required_resources.wood }}</p>
                <p>Stone: {{ game.stone }} / {{ required_resources.stone }}</p>
                {% endif %}

                {% if buildingservice.check_upgrade_requirements() %}
                <form action="" method="post">
                    {{ upgradebuildingform.hidden_tag() }}
                    <p>{{ upgradebuildingform.upgrade_button() }}</p>
                </form>
                {% else %}
                <p>Requirements not met</p>
                {% endif %}
                {% endif %}


            </div>
        </div>
    </div>
</div>


{% endblock content2 %}