{% extends "game/game_base.html" %}

{% block content2 %}

<script type="text/javascript">
    var loc = window.location;
    var wsStart = loc.protocol === "https:" ? "wss://" : "ws://";
    var wsUrl = wsStart + loc.host + "/ws/building_resource";
    var buildingSocket = new WebSocket(wsUrl);

    buildingSocket.onopen = function(event) {
        console.log('Building resource WebSocket is open now.');
        // Send a valid building_progress_id
        requestResourceUpdate('{{ building_progress.id }}'); // Replace '3' with a valid ID
    };

    buildingSocket.onmessage = function(event) {
        console.log('Received message from server: ' + event.data);
        var data = JSON.parse(event.data);
        if (data.event === 'resource_update') {
            console.log('Resource update received:', data);

            var accruedCashElement = document.getElementById('accrued_cash');
            var accruedWoodElement = document.getElementById('accrued_wood');
            var accruedStoneElement = document.getElementById('accrued_stone');
            var accruedMetalElement = document.getElementById('accrued_metal');
            
            if (accruedCashElement) accruedCashElement.innerText = data.accrued_cash;
            if (accruedWoodElement) accruedWoodElement.innerText = data.accrued_wood;
            if (accruedStoneElement) accruedStoneElement.innerText = data.accrued_stone;
            if (accruedMetalElement) accruedMetalElement.innerText = data.accrued_metal;

        } else if (data.error) {
            console.error('Error from server:', data.error);
        } else {
            console.log('Unexpected message type:', data.event);
        }
    };

    buildingSocket.onclose = function(event) {
        console.log('Building resource WebSocket is closed now.');
    };

    buildingSocket.onerror = function(error) {
        console.log('Building resource WebSocket error: ' + error);
    };

    function requestResourceUpdate(buildingProgressId) {
        var message = {
            event: 'resource_update',
            building_progress_id: buildingProgressId
        };
        console.log('Sending message to server:', message);
        buildingSocket.send(JSON.stringify(message));
    }
</script>

<div class="building-section">
    <h2>{{ building_progress.building.building_name }} - Level: {{ building_progress.building_level }}</h2>


    <!-- RESOURCE SECTION FOR RESOURCE BUILDING-->
    <div class="resource-info">
        <!-- Farm -->
        <div class="resource-card">
            {% if building_progress.building.id == 3 %}
            <i class="fas fa-dollar-sign"></i> <!-- Example icon usage -->

            <p>Cash per minute: {{ building_progress.cash_per_minute }}</p>
            <p>Accrued Cash: <span id="accrued_cash">0</span></p>
            {% endif %}

            <!-- Lumber Mill -->
            {% if building_progress.building.id == 4 %}
            <p>Wood per minute: {{ building_progress.wood_per_minute }}</p>
            <p>Accrued Wood: <span id="accrued_wood">0</span></p>
            {% endif %}

            <!-- Mine -->
            {% if building_progress.building.id == 5 %}
            <p>Stone per minute: {{ building_progress.stone_per_minute }}</p>
            <p>Accrued Stone: <span id="accrued_stone">0</span></p>
            {% endif %}

            <!-- Forge -->
            {% if building_progress.building.id == 6 %}
            <p>Metal per minute: {{ building_progress.metal_per_minute }}</p>
            <p>Accrued Metal: <span id="accrued_metal">0</span></p>
            {% endif %}

            <!-- Check if any resources to collect before displaying button -->
            {% if buildingservice.check_resources_to_collect() %}
            <div class="collect-button">
                <form action="" method="post">
                    {{ collectresourcesform.hidden_tag() }}
                    <p>{{ collectresourcesform.collect_button() }}</p>
                </form>
            </div>
            {% endif %}

        </div>
    </div>


   
<!-- UPGRADE SECTION FOR RESOURCE BUILDING-->
    <h2>Upgrade:</h2>

    <div class="resource-info">
        <div class="resource-card">

            {% if building_progress.building_level >= building_progress.building.max_building_level %}
            <p>Building Upgraded to Max Level</p>
            {% else %}

            <p>Game Level: {{ game.level }} / {{ required_resources.level }}</p>
            <p>Cash: {{ game.cash }} / {{ required_resources.cash }}</p>

            <!-- Farm -->
            {% if building_progress.building.id == 3 %}
            {% endif %}

            <!-- Lumber Mill -->
            {% if building_progress.building.id == 4 %}
            {% endif %}

            <!-- Mine -->
            {% if building_progress.building.id == 5 %}
            <p>Wood: {{ game.wood }} / {{ required_resources.wood }}</p>
            {% endif %}


            <!-- Forge -->
            {% if building_progress.building.id == 6 %}
            <p>Wood: {{ game.wood }} / {{ required_resources.wood }}</p>
            <p>Stone: {{ game.stone }} / {{ required_resources.stone }}</p>
            {% endif %}

            {% if buildingservice.check_upgrade_requirements() %}
            <form action="" method="post">
                {{ upgradebuildingform.hidden_tag() }}
                <p>{{ upgradebuildingform.upgrade_button() }}</p>
            </form>
            {% else %}
            <p>Requirements not met</p>
            {% endif %}
            {% endif %}


        </div>
    </div>
</div>



{% endblock content2 %}