{% extends "base.html" %}

{% block content %}

<div>
    <h1>Configure:</h1>

    <form action="" method="post" novalidate>

        {{ gtnrangeform.hidden_tag() }}

        <p>
            {{ gtnrangeform.startrange.label }}<br>
            {{ gtnrangeform.startrange(size=32, value=gtnsettings.startrange) }}
            {% for error in gtnrangeform.startrange.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 

        <p>
            {{ gtnrangeform.endrange.label }}<br>
            {{ gtnrangeform.endrange(size=32, value=gtnsettings.endrange) }}
            {% for error in gtnrangeform.endrange.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 

        <p>{{ gtnrangeform.submit_settings() }}</p>
</div>

<div>
    <a href="/guessthenumberhome" class="">Cancel</a>
</div>

{% endblock %}