{% extends "base.html" %}

{% block content %}

<div class="Jumbotron">
    <h1> Personal Finance</h1>
</div>

<div>
    Trasnaction Table:
</div>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.transaction_date.label }}<br>
        {{ form.transaction_date(size=32) }}
    </p>
    <p>
        {{ form.account_id.label }}<br>
        {{ form.account_id(size=32) }}
    </p>


    <p>{{ form.submit() }}</p>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Transaction Date</th>
            <th>Account Name</th>
            <th>User ID</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.transaction_date.strftime('%d-%m-%Y') }}</td>
                <td>{{ transaction.account_id }}</td>
                <td>{{ transaction.user_id }}</td>
            </tr>
            {% endfor %}

            </tr>
        </tbody>
    </table>
</div>


{% endblock %}